h1 {
  text-align: center;
}

p {
  text-align: center;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  pointer-events: none;
}
