h1 {
  text-align: center;
}

p {
  text-align: center;
}

.full-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  height: 75vh;
  object-fit: contain;
  pointer-events: none;
}
